<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.1.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

    <!--扫描注解 -->
    <context:property-placeholder location="classpath*:*.properties"/>
    <context:component-scan base-package="com.weijuju.iag.midea.gohome"/>
    <!--默认的mvc注解映射的支持 -->
    <mvc:annotation-driven/>

    <!--如果有 js ,css ,image 资源需要放在本工程，那么就打开下面注释，并在下面目录创建目录 -->
    <!--<mvc:resources mapping="/resources/**" location="/resources/"  />-->

	<!-- 接续多视图   -->
    <!-- 视图 适配器:json,rss -->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver" id="viewResolver">
        <property name="order" value="1"></property>
        <property name="ignoreAcceptHeader" value="true"></property>
        <property name="mediaTypes">
            <map>
                <entry key="json" value="application/json"></entry>
                <entry key="rss" value="application/rss+xml"></entry>
            </map>
        </property>
        <property name="defaultViews">
            <list>
                <!-- JSON View -->
                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"></bean>
                <!-- RSS View -->
            </list>
        </property>
    </bean>

    <!-- 视图 适配器:jsp -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="order" value="2" />
        <property name="prefix" value="/" />
        <property name="suffix" value="" />
    </bean>

    <bean class="org.springframework.web.servlet.mvc.annotation.ResponseStatusExceptionResolver">
        <property name="order" value="0" />
    </bean>
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="order" value="1" />
        <property name="defaultStatusCode" value="500" />
    </bean>

    <!-- 支持文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
        <property name="maxUploadSize" value="5242880" /><!-- 设置上传文件的大小为5*1024*1024 K -->
    </bean>

    <!--springmvc拦截所有请求，如果是静态资源不拦截-->
    <mvc:default-servlet-handler />

    <!-- velocity日志文件配置   -->
    <!--<bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
         <property name="configLocation" value="classpath:velocity.properties"/>
         <property name="resourceLoaderPath" value="/" />
    </bean>-->
</beans>