<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weijuju.iag.mapper.StatObjectMapper" >
  <resultMap id="BaseResultMap" type="com.weijuju.iag.midea.gohome.dataobject.StatObject" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stat_date" property="statDate" jdbcType="VARCHAR" />
    <result column="pv" property="pv" jdbcType="INTEGER" />
    <result column="uv" property="uv" jdbcType="INTEGER" />
    <result column="immediatelygeneratepv" property="immediatelygeneratepv" jdbcType="INTEGER" />
    <result column="immediatelygenerateuv" property="immediatelygenerateuv" jdbcType="INTEGER" />
    <result column="helppv" property="helppv" jdbcType="INTEGER" />
    <result column="helpuv" property="helpuv" jdbcType="INTEGER" />
    <result column="openpackagepv" property="openpackagepv" jdbcType="INTEGER" />
    <result column="openpackageuv" property="openpackageuv" jdbcType="INTEGER" />
    <result column="activitysharepv" property="activitysharepv" jdbcType="INTEGER" />
    <result column="activityshareuv" property="activityshareuv" jdbcType="INTEGER" />
    <result column="numberofwinners" property="numberofwinners" jdbcType="INTEGER" />
    
    <!-- 新增访客 -->
    <result column="newuser" property="newuser" jdbcType="INTEGER" />
    <result column="qudao" property="qudao" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, stat_date, pv, uv, immediatelygeneratepv, immediatelygenerateuv, helppv, helpuv, 
    openpackagepv, openpackageuv, activitysharepv, activityshareuv, numberofwinners, 
    newuser, qudao
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.weijuju.iag.midea.gohome.dataobject.StatObjectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from midea_stat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from midea_stat
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from midea_stat
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.weijuju.iag.midea.gohome.dataobject.StatObjectExample" >
    delete from midea_stat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    insert into midea_stat (stat_date, pv, uv, 
      immediatelygeneratepv, immediatelygenerateuv, 
      helppv, helpuv, openpackagepv, 
      openpackageuv, activitysharepv, activityshareuv, 
      numberofwinners, newuser, qudao
      )
    values (#{statDate,jdbcType=VARCHAR}, #{pv,jdbcType=INTEGER}, #{uv,jdbcType=INTEGER}, 
      #{immediatelygeneratepv,jdbcType=INTEGER}, #{immediatelygenerateuv,jdbcType=INTEGER}, 
      #{helppv,jdbcType=INTEGER}, #{helpuv,jdbcType=INTEGER}, #{openpackagepv,jdbcType=INTEGER}, 
      #{openpackageuv,jdbcType=INTEGER}, #{activitysharepv,jdbcType=INTEGER}, #{activityshareuv,jdbcType=INTEGER}, 
      #{numberofwinners,jdbcType=INTEGER}, #{newuser,jdbcType=INTEGER}, #{qudao,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" >
    insert into midea_stat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="statDate != null" >
        stat_date,
      </if>
      <if test="pv != null" >
        pv,
      </if>
      <if test="uv != null" >
        uv,
      </if>
      <if test="immediatelygeneratepv != null" >
        immediatelygeneratepv,
      </if>
      <if test="immediatelygenerateuv != null" >
        immediatelygenerateuv,
      </if>
      <if test="helppv != null" >
        helppv,
      </if>
      <if test="helpuv != null" >
        helpuv,
      </if>
      <if test="openpackagepv != null" >
        openpackagepv,
      </if>
      <if test="openpackageuv != null" >
        openpackageuv,
      </if>
      <if test="activitysharepv != null" >
        activitysharepv,
      </if>
      <if test="activityshareuv != null" >
        activityshareuv,
      </if>
      <if test="numberofwinners != null" >
        numberofwinners,
      </if>
      <if test="newuser != null" >
        newuser,
      </if>
      <if test="qudao != null" >
        qudao,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="statDate != null" >
        #{statDate,jdbcType=VARCHAR},
      </if>
      <if test="pv != null" >
        #{pv,jdbcType=INTEGER},
      </if>
      <if test="uv != null" >
        #{uv,jdbcType=INTEGER},
      </if>
      <if test="immediatelygeneratepv != null" >
        #{immediatelygeneratepv,jdbcType=INTEGER},
      </if>
      <if test="immediatelygenerateuv != null" >
        #{immediatelygenerateuv,jdbcType=INTEGER},
      </if>
      <if test="helppv != null" >
        #{helppv,jdbcType=INTEGER},
      </if>
      <if test="helpuv != null" >
        #{helpuv,jdbcType=INTEGER},
      </if>
      <if test="openpackagepv != null" >
        #{openpackagepv,jdbcType=INTEGER},
      </if>
      <if test="openpackageuv != null" >
        #{openpackageuv,jdbcType=INTEGER},
      </if>
      <if test="activitysharepv != null" >
        #{activitysharepv,jdbcType=INTEGER},
      </if>
      <if test="activityshareuv != null" >
        #{activityshareuv,jdbcType=INTEGER},
      </if>
      <if test="numberofwinners != null" >
        #{numberofwinners,jdbcType=INTEGER},
      </if>
      <if test="newuser != null" >
        #{newuser,jdbcType=INTEGER},
      </if>
      <if test="qudao != null" >
        #{qudao,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weijuju.iag.midea.gohome.dataobject.StatObjectExample" resultType="java.lang.Integer" >
    select count(*) from midea_stat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update midea_stat
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.statDate != null" >
        stat_date = #{record.statDate,jdbcType=VARCHAR},
      </if>
      <if test="record.pv != null" >
        pv = #{record.pv,jdbcType=INTEGER},
      </if>
      <if test="record.uv != null" >
        uv = #{record.uv,jdbcType=INTEGER},
      </if>
      <if test="record.immediatelygeneratepv != null" >
        immediatelygeneratepv = #{record.immediatelygeneratepv,jdbcType=INTEGER},
      </if>
      <if test="record.immediatelygenerateuv != null" >
        immediatelygenerateuv = #{record.immediatelygenerateuv,jdbcType=INTEGER},
      </if>
      <if test="record.helppv != null" >
        helppv = #{record.helppv,jdbcType=INTEGER},
      </if>
      <if test="record.helpuv != null" >
        helpuv = #{record.helpuv,jdbcType=INTEGER},
      </if>
      <if test="record.openpackagepv != null" >
        openpackagepv = #{record.openpackagepv,jdbcType=INTEGER},
      </if>
      <if test="record.openpackageuv != null" >
        openpackageuv = #{record.openpackageuv,jdbcType=INTEGER},
      </if>
      <if test="record.activitysharepv != null" >
        activitysharepv = #{record.activitysharepv,jdbcType=INTEGER},
      </if>
      <if test="record.activityshareuv != null" >
        activityshareuv = #{record.activityshareuv,jdbcType=INTEGER},
      </if>
      <if test="record.numberofwinners != null" >
        numberofwinners = #{record.numberofwinners,jdbcType=INTEGER},
      </if>
      <if test="record.newuser != null" >
        newuser = #{record.newuser,jdbcType=INTEGER},
      </if>
      <if test="record.qudao != null" >
        qudao = #{record.qudao,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update midea_stat
    set id = #{record.id,jdbcType=INTEGER},
      stat_date = #{record.statDate,jdbcType=VARCHAR},
      pv = #{record.pv,jdbcType=INTEGER},
      uv = #{record.uv,jdbcType=INTEGER},
      immediatelygeneratepv = #{record.immediatelygeneratepv,jdbcType=INTEGER},
      immediatelygenerateuv = #{record.immediatelygenerateuv,jdbcType=INTEGER},
      helppv = #{record.helppv,jdbcType=INTEGER},
      helpuv = #{record.helpuv,jdbcType=INTEGER},
      openpackagepv = #{record.openpackagepv,jdbcType=INTEGER},
      openpackageuv = #{record.openpackageuv,jdbcType=INTEGER},
      activitysharepv = #{record.activitysharepv,jdbcType=INTEGER},
      activityshareuv = #{record.activityshareuv,jdbcType=INTEGER},
      numberofwinners = #{record.numberofwinners,jdbcType=INTEGER},
      newuser = #{record.newuser,jdbcType=INTEGER},
      qudao = #{record.qudao,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" >
    update midea_stat
    <set >
      <if test="statDate != null" >
        stat_date = #{statDate,jdbcType=VARCHAR},
      </if>
      <if test="pv != null" >
        pv = #{pv,jdbcType=INTEGER},
      </if>
      <if test="uv != null" >
        uv = #{uv,jdbcType=INTEGER},
      </if>
      <if test="immediatelygeneratepv != null" >
        immediatelygeneratepv = #{immediatelygeneratepv,jdbcType=INTEGER},
      </if>
      <if test="immediatelygenerateuv != null" >
        immediatelygenerateuv = #{immediatelygenerateuv,jdbcType=INTEGER},
      </if>
      <if test="helppv != null" >
        helppv = #{helppv,jdbcType=INTEGER},
      </if>
      <if test="helpuv != null" >
        helpuv = #{helpuv,jdbcType=INTEGER},
      </if>
      <if test="openpackagepv != null" >
        openpackagepv = #{openpackagepv,jdbcType=INTEGER},
      </if>
      <if test="openpackageuv != null" >
        openpackageuv = #{openpackageuv,jdbcType=INTEGER},
      </if>
      <if test="activitysharepv != null" >
        activitysharepv = #{activitysharepv,jdbcType=INTEGER},
      </if>
      <if test="activityshareuv != null" >
        activityshareuv = #{activityshareuv,jdbcType=INTEGER},
      </if>
      <if test="numberofwinners != null" >
        numberofwinners = #{numberofwinners,jdbcType=INTEGER},
      </if>
      <if test="newuser != null" >
        newuser = #{newuser,jdbcType=INTEGER},
      </if>
      <if test="qudao != null" >
        qudao = #{qudao,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" >
    update midea_stat
    set stat_date = #{statDate,jdbcType=VARCHAR},
      pv = #{pv,jdbcType=INTEGER},
      uv = #{uv,jdbcType=INTEGER},
      immediatelygeneratepv = #{immediatelygeneratepv,jdbcType=INTEGER},
      immediatelygenerateuv = #{immediatelygenerateuv,jdbcType=INTEGER},
      helppv = #{helppv,jdbcType=INTEGER},
      helpuv = #{helpuv,jdbcType=INTEGER},
      openpackagepv = #{openpackagepv,jdbcType=INTEGER},
      openpackageuv = #{openpackageuv,jdbcType=INTEGER},
      activitysharepv = #{activitysharepv,jdbcType=INTEGER},
      activityshareuv = #{activityshareuv,jdbcType=INTEGER},
      numberofwinners = #{numberofwinners,jdbcType=INTEGER},
      newuser = #{newuser,jdbcType=INTEGER},
      qudao = #{qudao,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.weijuju.iag.midea.gohome.dataobject.StatObjectExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from midea_stat
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2017-01-11 11:27:50 ### -->



  <!-- Your codes goes here!!! -->
  
</mapper>