<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weijuju.iag.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.weijuju.iag.midea.gohome.dataobject.User" >
    
    <!-- 主键ID -->
    <id column="share_id" property="shareId" jdbcType="VARCHAR" />
    
    <!-- openId 或者手机号 -->
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    
    <!-- 是不是微信用户 -->
    <result column="user_weixin" property="userWeixin" jdbcType="BIT" />
    
    <!-- 出发城市 -->
    <result column="start_city" property="startCity" jdbcType="VARCHAR" />
    
    <!-- 结束城市 -->
    <result column="end_city" property="endCity" jdbcType="VARCHAR" />
    
    <!-- 出发城市温度 -->
    <result column="start_city_temp" property="startCityTemp" jdbcType="INTEGER" />
    
    <!-- 结束城市温度 -->
    <result column="end_city_temp" property="endCityTemp" jdbcType="INTEGER" />
    
    <!-- 两个城市的距离 -->
    <result column="distance" property="distance" jdbcType="INTEGER" />
    
    <!-- 创建时间 -->
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    
    <!-- 抽奖时间 -->
    <result column="luckdrawtime" property="luckdrawtime" jdbcType="TIMESTAMP" />
    
    <!-- 是否抽奖 -->
    <result column="luckdraw" property="luckdraw" jdbcType="BIT" />
    
    <!-- 是否中奖 -->
    <result column="winning" property="winning" jdbcType="BIT" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="headImage" property="headimage" jdbcType="VARCHAR" />
    <result column="prize_type" property="prizeType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    share_id, userId, user_weixin, start_city, end_city, start_city_temp, end_city_temp, 
    distance, create_time, luckdrawtime, luckdraw, winning, nickname, headImage, prize_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.weijuju.iag.midea.gohome.dataobject.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from midea_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from midea_user
    where share_id = #{shareId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from midea_user
    where share_id = #{shareId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.weijuju.iag.midea.gohome.dataobject.UserExample" >
    delete from midea_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" >
    insert into midea_user (share_id, userId, user_weixin, 
      start_city, end_city, start_city_temp, 
      end_city_temp, distance, create_time, 
      luckdrawtime, luckdraw, winning, 
      nickname, headImage, prize_type
      )
    values (#{shareId,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{userWeixin,jdbcType=BIT}, 
      #{startCity,jdbcType=VARCHAR}, #{endCity,jdbcType=VARCHAR}, #{startCityTemp,jdbcType=INTEGER}, 
      #{endCityTemp,jdbcType=INTEGER}, #{distance,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{luckdrawtime,jdbcType=TIMESTAMP}, #{luckdraw,jdbcType=BIT}, #{winning,jdbcType=BIT}, 
      #{nickname,jdbcType=VARCHAR}, #{headimage,jdbcType=VARCHAR}, #{prizeType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" >
    insert into midea_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shareId != null" >
        share_id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="userWeixin != null" >
        user_weixin,
      </if>
      <if test="startCity != null" >
        start_city,
      </if>
      <if test="endCity != null" >
        end_city,
      </if>
      <if test="startCityTemp != null" >
        start_city_temp,
      </if>
      <if test="endCityTemp != null" >
        end_city_temp,
      </if>
      <if test="distance != null" >
        distance,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="luckdrawtime != null" >
        luckdrawtime,
      </if>
      <if test="luckdraw != null" >
        luckdraw,
      </if>
      <if test="winning != null" >
        winning,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="headimage != null" >
        headImage,
      </if>
      <if test="prizeType != null" >
        prize_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shareId != null" >
        #{shareId,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="userWeixin != null" >
        #{userWeixin,jdbcType=BIT},
      </if>
      <if test="startCity != null" >
        #{startCity,jdbcType=VARCHAR},
      </if>
      <if test="endCity != null" >
        #{endCity,jdbcType=VARCHAR},
      </if>
      <if test="startCityTemp != null" >
        #{startCityTemp,jdbcType=INTEGER},
      </if>
      <if test="endCityTemp != null" >
        #{endCityTemp,jdbcType=INTEGER},
      </if>
      <if test="distance != null" >
        #{distance,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="luckdrawtime != null" >
        #{luckdrawtime,jdbcType=TIMESTAMP},
      </if>
      <if test="luckdraw != null" >
        #{luckdraw,jdbcType=BIT},
      </if>
      <if test="winning != null" >
        #{winning,jdbcType=BIT},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="headimage != null" >
        #{headimage,jdbcType=VARCHAR},
      </if>
      <if test="prizeType != null" >
        #{prizeType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weijuju.iag.midea.gohome.dataobject.UserExample" resultType="java.lang.Integer" >
    select count(*) from midea_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update midea_user
    <set >
      <if test="record.shareId != null" >
        share_id = #{record.shareId,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.userWeixin != null" >
        user_weixin = #{record.userWeixin,jdbcType=BIT},
      </if>
      <if test="record.startCity != null" >
        start_city = #{record.startCity,jdbcType=VARCHAR},
      </if>
      <if test="record.endCity != null" >
        end_city = #{record.endCity,jdbcType=VARCHAR},
      </if>
      <if test="record.startCityTemp != null" >
        start_city_temp = #{record.startCityTemp,jdbcType=INTEGER},
      </if>
      <if test="record.endCityTemp != null" >
        end_city_temp = #{record.endCityTemp,jdbcType=INTEGER},
      </if>
      <if test="record.distance != null" >
        distance = #{record.distance,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.luckdrawtime != null" >
        luckdrawtime = #{record.luckdrawtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.luckdraw != null" >
        luckdraw = #{record.luckdraw,jdbcType=BIT},
      </if>
      <if test="record.winning != null" >
        winning = #{record.winning,jdbcType=BIT},
      </if>
      <if test="record.nickname != null" >
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.headimage != null" >
        headImage = #{record.headimage,jdbcType=VARCHAR},
      </if>
      <if test="record.prizeType != null" >
        prize_type = #{record.prizeType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update midea_user
    set share_id = #{record.shareId,jdbcType=VARCHAR},
      userId = #{record.userid,jdbcType=VARCHAR},
      user_weixin = #{record.userWeixin,jdbcType=BIT},
      start_city = #{record.startCity,jdbcType=VARCHAR},
      end_city = #{record.endCity,jdbcType=VARCHAR},
      start_city_temp = #{record.startCityTemp,jdbcType=INTEGER},
      end_city_temp = #{record.endCityTemp,jdbcType=INTEGER},
      distance = #{record.distance,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      luckdrawtime = #{record.luckdrawtime,jdbcType=TIMESTAMP},
      luckdraw = #{record.luckdraw,jdbcType=BIT},
      winning = #{record.winning,jdbcType=BIT},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      headImage = #{record.headimage,jdbcType=VARCHAR},
      prize_type = #{record.prizeType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" >
    update midea_user
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="userWeixin != null" >
        user_weixin = #{userWeixin,jdbcType=BIT},
      </if>
      <if test="startCity != null" >
        start_city = #{startCity,jdbcType=VARCHAR},
      </if>
      <if test="endCity != null" >
        end_city = #{endCity,jdbcType=VARCHAR},
      </if>
      <if test="startCityTemp != null" >
        start_city_temp = #{startCityTemp,jdbcType=INTEGER},
      </if>
      <if test="endCityTemp != null" >
        end_city_temp = #{endCityTemp,jdbcType=INTEGER},
      </if>
      <if test="distance != null" >
        distance = #{distance,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="luckdrawtime != null" >
        luckdrawtime = #{luckdrawtime,jdbcType=TIMESTAMP},
      </if>
      <if test="luckdraw != null" >
        luckdraw = #{luckdraw,jdbcType=BIT},
      </if>
      <if test="winning != null" >
        winning = #{winning,jdbcType=BIT},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="headimage != null" >
        headImage = #{headimage,jdbcType=VARCHAR},
      </if>
      <if test="prizeType != null" >
        prize_type = #{prizeType,jdbcType=VARCHAR},
      </if>
    </set>
    where share_id = #{shareId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" >
    update midea_user
    set userId = #{userid,jdbcType=VARCHAR},
      user_weixin = #{userWeixin,jdbcType=BIT},
      start_city = #{startCity,jdbcType=VARCHAR},
      end_city = #{endCity,jdbcType=VARCHAR},
      start_city_temp = #{startCityTemp,jdbcType=INTEGER},
      end_city_temp = #{endCityTemp,jdbcType=INTEGER},
      distance = #{distance,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      luckdrawtime = #{luckdrawtime,jdbcType=TIMESTAMP},
      luckdraw = #{luckdraw,jdbcType=BIT},
      winning = #{winning,jdbcType=BIT},
      nickname = #{nickname,jdbcType=VARCHAR},
      headImage = #{headimage,jdbcType=VARCHAR},
      prize_type = #{prizeType,jdbcType=VARCHAR}
    where share_id = #{shareId,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.weijuju.iag.midea.gohome.dataobject.UserExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from midea_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2016-12-20 11:48:20 ### -->



  <!-- Your codes goes here!!! -->
  
</mapper>