<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <welcome-file-list>
    <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>
  <!-- Spring配置文件开始 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath:applicationContext.xml,
      <!--classpath:recreation-web-shiro-context.xml,-->
      classpath:spring-servlet.xml
    </param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- Spring配置文件结束 -->


  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
    </jsp-property-group>
  </jsp-config>
  <!-- <servlet> <servlet-name>UniqueUserServlet</servlet-name> <servlet-class>com.weixinjia.uniquecenter.servlet.UniqueUserServlet</servlet-class>
      </servlet> <servlet-mapping> <servlet-name>UniqueUserServlet</servlet-name>
      <url-pattern>/admin/uniquecenter/uniqueuser</url-pattern> </servlet-mapping> -->



  <filter>
    <filter-name>springUtf8Encoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>springUtf8Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>XSSFilter</filter-name>
    <filter-class>com.weijuju.iag.midea.gohome.filter.XSSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>XSSFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>SimpleCORSFilter</filter-name>
    <filter-class>com.weijuju.iag.midea.gohome.filter.SimpleCORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SimpleCORSFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <filter>
  <filter-name>mobileOauth2Filter</filter-name>
  <filter-class>com.weijuju.iag.youyu.baseweb.filter.MideaMobileUniqueOauthFilter</filter-class>
  <init-param>
    <param-name>excludedPages</param-name>
    <param-value>/weixin/app</param-value>
  </init-param>
</filter>

  <filter-mapping>
    <filter-name>mobileOauth2Filter</filter-name>
    <url-pattern>/weixin/index</url-pattern>
  </filter-mapping>


</web-app>